{% extends "base.html" %}


{% block title %}Home{% endblock %}

{% block user_info %}
    <link rel="stylesheet" href="{{url_for('static', filename='styles/index_form.css')}}">
{% endblock %}

{% block content %}
<div class="current_user">
    <label>Текущий пользователь: {{current_user}}</label>
    <a href="{{ url_for('logout') }}"><button type="button" class="logout" style="background-color:#f1f1f1">X</button></a>
</div>
  <h1>Учет активов</h1>
    <h2>Все ваши активы</h2>
      <ul>
        {% for asset in assets %}
        <li><a href="{{ url_for('get_asset', asset_id=asset['id']) }}">{{ asset['name'] }}-{{ asset['date'] }}</a></li>
        {% endfor %}
      </ul>
<p></p>
<hr>
  <a href="{{ url_for('new_asset') }}"><button>Добавить новый актив</button></a>
<hr>
<p>Выберите дату для отображения активов</p>
    <!-- Month Picker Input -->
    <input class="js-monthpicker" type="hidden" onchange="select_assets_for_date()">

    <!-- Alternative Input (The selected month/year will be placed here) -->
    <input type="text"   id="monthpick"/>

<ul id="filter_assets">
</ul>
<div id="chartContainer" style="height: 300px; width: 100%;">
</div>{% endblock %}

{% block monthpicker %}
    <link rel="stylesheet" href="{{url_for('static', filename='styles/jquery-ui.css')}}">
    <script type="text/javascript" src="/static/js/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/js/monthpicker.js"></script>
    <script type="text/javascript" src="/static/js/canvasjs.min.js"></script>
    <script>
        $(function(){
            $('.js-monthpicker').monthpicker();
        });
    </script>
    <script>
        async function select_assets_for_date() {
            var request_date = document.getElementById("monthpick").value;
            var request_data = JSON.stringify({
            "date": request_date
            })
            console.log(request_data)
            var response = await fetch('request_assets', {
                method: "FETCH",
                body: request_data,
                headers: {
                    "Content-Type": "application/json"
                }
            })
            var response_data = await response.json()
            response_data = response_data['data']
            response_data = JSON.parse(response_data)
            var ul = document.getElementById("filter_assets");
            $(ul).empty(); //очищаем список из активов через jquery, не нашла как через js это сделать
            var data_arr = []
            response_data.forEach((element) => {
                var li = document.createElement("li");
                li.appendChild(document.createTextNode("Актив: "+element[1]+" стоимостью - "+element[2]));
                ul.appendChild(li);
                data_arr.push({y:element[2], indexLabel:element[1]})

            });

            var chart = new CanvasJS.Chart("chartContainer",
        {
          title:{
            text: "Диаграмма распределения активов"
          },
          data: [
          {
           type: "doughnut",
           dataPoints: data_arr
         }
         ]
       });
        chart.render();
        }


    </script>
<script>
    function myFunction() {
      var x = document.getElementById("container");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
}</script>
{% endblock %}
{% block donut %}
    <script type="text/javascript" src="/static/js/anychart-core.min.js"></script>
    <script type="text/javascript" src="/static/js/anychart-pie.min.js"></script>
    <style type="text/css">
      html, body, #container {
        width: 100%; height: 100%; margin: 0; padding: 0;
      }
    </style>
{% endblock %}